@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Source+Sans+Pro:wght@300&display=swap');

* {
    margin: 0;
}

body {
    color: #FFFFFF;
    background-color: #0f0f0f;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
}

.title{
    text-align: center;    
    margin-top: 18%;
    font-size: 25.4px;
}
